.post {
  border: 1px solid teal;
  min-height: 200px;
  .card-body {
    max-height: 150px;
    overflow-y: auto;
  }
}
.contianer-fluid {
  height: 100%;
  .post-list {
    height: calc(100% - 155px);
    //max-height: calc(100% - 100px);
    overflow-y: scroll;

    .post-item {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

::ng-deep .pagination {
  margin: 0;
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
}
.search-btn{
  color: white !important;
  font-weight: 700;
}