.comment-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 45px);
    .comment-body{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

  }
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: antiquewhite;
    color: teal;
    font-weight: 800;
    margin-right: 5px;
  }
}
