:host {
  font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-link.active-link {
  font-weight: 700;
  color: white;
}
.container.content {
  margin-top: 66px;
  height: calc(100vh - 66px);
  position: relative;
}
