/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~@ng-select/ng-select/themes/default.theme.css";
//@import "~bootstrap/scss/bootstrap";
/* Importing Datepicker SCSS file. */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");
html {
  overflow: hidden;
}
.section-header {
  max-width: 100%;
  padding: 5px 20px;
  background-color: #980060;
  border-radius: 15px;
  font-size: 30px;
  display: block;
  color: white;
  letter-spacing: 10px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}
